*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../assets/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav{
    background-color: wheat;
    /* background-color: rgb(157, 255, 250); */
    padding: 20px;
}

h3{
    padding: 10px;
}

.heading, .actions{
    display: flex;
    justify-content: space-between;
}

.userIcon{
    margin-top: 10px;
    font-size: x-large;
}

span{
    color: rgb(255, 0, 149);
}

.searchBar{
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    border-radius: 50px;
    margin: 10px;
    width: 65%;
}

.search{
    padding: 10px;
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    border: none;
}

.search:focus{
    outline: none;
}

.searchBar:focus-within{
    border: 3px solid rgb(255, 0, 149);
}

.filter{
    font-size: 20px;
    margin: 10px;
}

/* .displayLibrarians{
    justify-items: center;
    padding: 25px;
} */

.managelib{
    background-color: darkkhaki;
    display: flex;
    justify-content: space-between;
    /* color: rgb(255, 4, 4); */
    padding: 1px;
}

.managelib h2{
    color: rgb(255, 4, 4);
    padding: 10px;
}

.add, .edit, .delete{
    margin: 5px 9px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 20px;
    transition: transform 0.1s ease;
}

.add:hover, .edit:hover, .delete:hover{
    transform: scale(1.2);
    border-color: cadetblue;
    background-color: chocolate;
}

.add:active, .edit:active, .delete:active{
    opacity: 0.6;
}

#addLib, #delLib{
    align-self: center;
    justify-self: center;
    padding: 20px;
    background-color: wheat;

}

#form-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#form-content *{
    padding: 5px;
    /* margin: 5px; */
}

#form-content small{
    display: none;
    /* margin-top: 20px; */
}

#form-content input{
    /* padding: 10px; */
    font-style: italic;
    border: 2px solid;
    border-radius: 10px;
    display: block;
}

#form-content .gender input{
    display: inline;
}

#username, #email, #pass, #gender, #contact{
    display: none;
    color: red;
}

.submit{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

#addLibButton, #cancel, #delLibButton{
    /* background-color: coral; */
    padding: 10px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}

#addLibButton, #delLibButton{
    background-color: greenyellow;
}

#cancel{
    background-color: orange;
}

#addLibButton:hover, #cancel:hover, #delLibButton:hover{
    background-color: mediumorchid;
}

#addLibButton:active, #cancel:active, #delLibButton:active{
    opacity: 0.8;
}

.resBtn{
    padding: 10px;
}

#delLib h3{
    font-size: 20px;
}

#delLib .resBtn{
    display: flex;
    justify-content: space-evenly;
}

.displayLibrarians  {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 20px;
    justify-content: space-around;
}

.container{
    position: relative;
    border-radius: 20px;
    background-color: lightblue;
    transition: transform 0.3s ease;
}

.container span{
    color: blue;
    /* padding: 0; */
}

.container:hover{
    transform: scale(1.1);
}

.selectOne {
    position: relative;
    top: 10px;
    left: 2px;
    /* display: none; */
    transform: scale(1.8);
    cursor: pointer;
}

.error-input{
    border: 2px solid red !important;
    border-radius: 10px !important;
}

table, td, th{
    padding: 25px;
    font-size: 20px;
    border: 3px solid black;
    border-collapse: collapse;
    background-color: aqua;
}