*{
    margin: 0;
    padding: 0;
}

div{
    justify-items: center;
    padding: 20px;
}

body{
    background-color: aqua;
    /* background-image: url("image.png"); */
    fill: url("image.png");
}
.body{
    margin: 10%;
    width: 700px;
    text-align: justify;
    justify-self: center;
    background-color: white;
}

p{
    padding: 40px;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
}

.getMail{
    padding: 9px;
    width: 15rem;
    font-style: italic;
    font-size: 15px;
    border: 2px solid green;
    display: block;
}

.getMail:focus{
    border-color: skyblue;
    outline: none;
}

h4{
    color: white;
    font-size: medium;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: green; */
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.signin{
    display: flex;
    column-gap: 40px;
    justify-content: space-around;
}