*{
    margin: 0;
    padding: 0;
}

div{
    justify-items: center;
    padding: 20px;
}

body{
    background-image: url("assets/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.body{
    margin: 10%;
    width: 700px;
    text-align: justify;
    justify-self: center;
    background-color: wheat;
    opacity: 0.8;
    border-radius: 15px;
    /* background-color: rgb(157, 255, 250); */
}

p{
    padding: 40px;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

.getMail, .getName, .getPwd,.getPwd1{
    padding: 9px;
    margin: 10px;
    width: 15rem;
    font-style: italic;
    font-size: 15px;
    border: 2px solid green;
    display: block;
    border-radius: 10px;
}

.getMail:focus, .getName:focus, .getPwd:focus{
    border-color: skyblue;
    outline: none;
    box-shadow: 0 0 4px skyblue;
}

a{
    text-decoration: none;
}

h4{
    color: white;
    font-size: medium;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: green; */
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.signin{
    display: flex;
    column-gap: 40px;
    justify-content: space-around;
}

.input-form{
    padding: 10px;
}
h4:hover{
opacity: 0.7;
}
h4:active{
    opacity: 0.5;

}
.Intro:hover{
color: rgb(32, 4, 60);

}
.error-input{
    border-color: red !important;
    padding: 9px;
    margin: 10px;
    width: 15rem;
    font-style: italic;
    font-size: 15px;
    border: 2px solid;
    display: block;
    border-radius: 10px;
    
}
