*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../assets/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    background-color: wheat;
    padding: 20px;
}

h3{
    padding: 10px;
}

.heading, .actions{
    display: flex;
    justify-content: space-between;
}

.userIcon{
    margin-top: 10px;
    font-size: x-large;
}

span{
    color: rgb(255, 0, 149);
}

.body{
    text-align: center;
}

.nav-btn{
    padding: 25px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: large;
}

a{
    text-decoration: none;
}

.lists{
    display: flex;
    justify-content: space-around;
}

#issue:hover, #return:hover, #renew:hover, #reservations:hover, #fines:hover{
    background-color: cadetblue;
}

#issue:active, #return:active, #renew:active, #reservations:active, #fines:active{
    background-color: lightsalmon;
}

#issue{
    background-color: green;
}

#return{
    background-color: brown;
}

#renew{
    background-color: darkslategrey;
}

#reservations{
    background-color: darkgoldenrod;
}

#fines{
    background-color: gray;
}

.searchBar{
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    border-radius: 50px;
    margin: 10px;
    width: 65%;
}

.search{
    padding: 10px;
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    border: none;
}

.search:focus{
    outline: none;
}

.searchBar:focus-within{
    border: 3px solid rgb(255, 0, 149);
}

.filter{
    font-size: 20px;
    margin: 10px;
}