*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("assets/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    background-color: wheat;
    /* background-color: rgb(157, 255, 250); */
    padding: 20px;
}

h3{
    padding: 10px;
}

.heading, .actions{
    display: flex;
    justify-content: space-between;
}

.userIcon{
    margin-top: 10px;
    font-size: x-large;
}

span{
    color: rgb(255, 0, 149);
}

.lists{
    display: flex;
    justify-content: space-around;
}

/* .event1, .event2, .event3{
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 35px;
}

.event1:hover, .event2:hover, .event3:hover{
    opacity: 0.8;
    background-color: rgb(49, 255, 176);
}

.event1:active, .event2:active, .event3:active{
    background-color: rgb(47, 0, 255);
}

.event1{
    background-color: yellowgreen;
}

.event2{
    background-color: rgb(192, 85, 142);
}

.event3{
    background-color: chocolate;
} */

.nav-btn{
    padding: 25px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

#librarians:hover, #members:hover, #books:hover, #reports:hover, #fines:hover{
    background-color: cadetblue;
}

#librarians:active, #members:active, #books:active, #reports:active, #fines:active{
    background-color: lightsalmon;
}

#librarians{
    background-color: green;
}

#members{
    background-color: brown;
}

#books{
    background-color: darkslategrey;
}

#reports{
    background-color: darkgoldenrod;
}

#fines{
    background-color: gray;
}

.searchBar{
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    border-radius: 50px;
    margin: 10px;
    width: 65%;
}

.search{
    padding: 10px;
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    border: none;
}

.search:focus{
    outline: none;
}

.searchBar:focus-within{
    border: 3px solid rgb(255, 0, 149);
}

.filter{
    font-size: 20px;
    margin: 10px;
}

.displayBooks{
    justify-items: center;
    /* margin: 25px; */
    padding: 25px;
}

table, td, th{
    padding: 25px;
    font-size: 20px;
    border: 3px solid black;
    border-collapse: collapse;
    background-color: aqua;
}

dialog{
    justify-self: center;
    margin-top: 20%;
    background-color: wheat;
}

.form-content{
    padding: 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    gap: 10px 20px;
    align-items: center;
}

/* label{
    text-wrap: nowrap;
} */

.details{
    padding: 10px;
    font-size: 20px;
}

.submit{
    text-align: center;
    margin-bottom: 20px;
}

button{
    font-size: 16px;
    padding: 10px;
    border-radius: 40px;
    background-color: cadetblue;
    cursor: pointer;
}

button:hover{
    background-color: coral;
}

button:active{
    opacity: 0.8;
}

#addBooksByExcel{
    margin: 25%;
}

.inputFile{
    padding: 10px;
}

.UploadButtons{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

#upload{
    background-color: darkorange;
}

#upload:hover{
    background-color: rgb(226, 217, 44);
}

#cancel{
    background-color: darkkhaki;
}

#cancel:hover{
    background-color: khaki;
}